@charset "utf-8";

/* 공통사항 */
.innerBox {
    max-width: 1560px;
    margin: 0 auto;
}

body > section {
    padding-top: 120px;
}

/* header */
/* skip_event */
.skip_event {
    position: fixed;
    inset: 0;
    z-index: 100;
    height: 45px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    color: #eee;
    font-size: 15px;
    background: #414141;
    overflow: hidden;
}

.roller {
    animation: v-roll calc(3 * 3s) steps(3) infinite;
}

.roller>li {
    width: 100%;
    height: 45px;
    line-height: 45px;
    white-space: nowrap;
}

.roller li:nth-child(2) {
    background: #fee500;
    color: #000;
}

@keyframes v-roll {
    to {
        transform: translateY(calc(-1 * 45px * 3));
    }
}

/* header */
header {
    padding: 0 60px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: transparent;
    /* border-bottom: 1px solid #d7d7d7; */
    position: fixed;
    z-index: 100;
    inset: 45px 0 auto 0;
    transition: background 0.5s ease;
}


header .logo>a {
    display: block;
    width: 160px;
    height: 80px;
    background: url(../img/logo_white.png) no-repeat center/auto 40px;
}

/* gnbArea */
header .gnbArea {
    width: 60%;
}

header .gnbArea .gnb {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

header .gnbArea .gnb>li {
    position: relative;
    flex: 1;
}

header .gnbArea .gnb>li .title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 15px;
}

header .gnbArea .gnb>li>a {
    display: block;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

header .gnbArea .gnb>li.point>a {
    color: #FF6504;
}

header .gnbArea .gnb>li:nth-child(2).point::before {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 6px;
    height: 6px;
    background: #FF6504;
    border-radius: 50%;
    content: '';
}

header .gnbArea .gnb>li .subMenu {
    background: #fff;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 69px;
    border: 1px solid #d7d7d7;
    display: none;
    /* 처음에는 보이지 않고 li에 마우스가 올라가면 나타남. */
    z-index: 100;
}

header .gnbArea .gnb>li .subMenu li>a {
    /* font: 500 italic 18px/1.8 '맑은 고딕';   */
    /* font: font-weight(생략가능) font-style(생략가능) font-size(필수)/line-height(생략가능) font-family(필수) */
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.8;
    padding: 3px 10px;
    width: max-content
}

header .gnbArea .gnb>li .subMenuAll {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    display: none;
}

header .gnbArea .gnb>li:hover .subMenu,
header .gnbArea .gnb>li:hover .subMenuAll {
    display: flex;
}

header .gnbArea .gnb>li .subMenuAll>ul {
    width: max-content;
}

header .util_nav {
    display: flex;
    justify-content: flex-end;
    /* 부모 요소의 오른쪽 끝을 기준으로 정렬 */
    gap: 20px;
    margin: auto 0;
}

header .util_nav>a>img {
    width: 44px;
    filter: none;
}

/* header.on 일때 */
header.on{
    background: #fff;
    border-bottom: 1px solid #cfcfcf;
}
header.on .gnbArea .gnb>li>a {
    color: #000;
}
header.on .logo>a {
    background-image:url(../img/logo_black.png) ;
}
header.on .util_nav>a>img {
    filter: invert(1) brightness(0.1) contrast(1.2);
}
/* header.on .util_nav>a:first-child>img{
    background: url(../img/ico/ico_search_black.png) no-repeat center;
}
header.on .util_nav>a:nth-child(2)>img{
    background: url(../img/ico/ico_mypage_black.png) no-repeat center;
}
header.on .util_nav>a:last-child>img{
    background: url(../img/ico/ico_cart_black.png) no-repeat center;
} */


/* btn Goto */
.btnGoto{
    position: fixed;
    bottom: 3%;
    right: 5%;
    z-index: 1000;
    cursor: pointer;
}
/* 카카오톡 button */
.btnKakao{
    width: 50px;
    height: 50px;
    border: 1px solid #b1b1b1;
    background: yellow;
    display: grid;
    place-items: center;
}
.btnKakao img{
    width: 70%;
    height: 70%;
}

/* top으로 올라가는 button */
.btnTop{
    width: 50px;
    height: 50px;
    border: 1px solid  #cfcfcf;
    display: grid;
    place-items: center;
    background:#e3e3e3;
}
.btnTop img{
    width: 50%;
    height: 50%;
    transform: rotate(180deg);
}

/* main */
main {
    background: url(../img/img_sub_header.jpg) no-repeat center/cover;
    height: 80vh;
    position: relative;
}

main>.text {
    color: #fff;
    width: 30%;
    height: 60%;
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

main>.text h2 {
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 50px;
}

main>.text span {
    display: block;
    font-size: 20px;
    margin-bottom: 200px;
    line-height: 1.5;
}

main>.text p {
    font-weight: 100;
    font-size: 12px;
    line-height: 2;
}

/* history area */
.history {
    text-align: center;
    height: auto;
}

.history h3 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 50px;
}

.history p {
    font-size: 20px;
    color: rgb(187, 186, 186);
}

.history .his_cont {
    padding: 0;
    margin-top: 50px;
    width: 100%;
    min-height: 40vh;
    height: auto;
    /* background: gray; */
    position: relative;
}
.history .his_cont::before{
    content: '';
    height: 1px;
    position: absolute;
    left: 0; right: 0; top: 50%;
    background: rgba(68, 37, 37,0.8);
    z-index: 10;
}
.splide__track{
    height: 40vh
}
.history .his_cont .timeline .card{
    /* flex: 0 0 20%; */
    height: 100%;
    color: #9ca3af;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    transition: transform 0.2s ease, color 0.2s ease;
    /* background: red; */
}
.splide__slide.is-active.card, .splide__slide.is-active.card p{
    color: #000 !important;
    transform: scale(1.1) !important;
    z-index: 2;
}
.splide__arrow{
    opacity: 1 !important;
    z-index: 100 !important;
}
.card::before{
    content: '';
    width: 10px;
    height: 10px;
    background: #000;
    display: block;
    border-radius: 100%;
    position: absolute;
    right: 50%; top: 50%;
    transform: translateY(-50%);
}
.card figure{
    /* background: green; */
    display: block;
    width: 100px; height: 100px;
    margin: 30px auto;
}
.card figure img{
    display: block;
    width: 100%;
    height: 100%;
}
.card .card_text{
    height: 40%;
}
.card .card_text h4{
    font-size: 20px;
    margin: 20px 0;
}
.card .card_text strong{
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}
.card .card_text p{
    font-size: 15px;
}

/* slogan area */
.slogan{
    padding-bottom: 120px;
}
.slogan > .innerBox{
    background: url(../img/img_sub_slogan.jpg) no-repeat center/cover;
    height: 65vh;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slogan > .innerBox .slogan_text{
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
}
.slogan > .innerBox .slogan_text p{
    margin-bottom: 20px;
}

/* life area */
.life {
    text-align: center;
    height: auto;
}
.life h3 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 50px;
}
.life p {
    font-size: 20px;
    color: rgb(187, 186, 186);
    margin-bottom: 40px;
}
.life .life_cont{
    width: 80%;
    height: 110vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10px;
    gap: 20px;
    grid-auto-flow: row dense;/* 그리드 빈칸 채우기 */
}
.life .life_cont .imgWrap{
    position: relative;
    cursor: pointer;
}
.life .life_cont .imgWrap::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.life .life_cont .imgWrap::after{
    content: '';
    display: block;
    position: absolute;
    width: 100px; height: 100px;
    background: url(../img/ico/ico_play_white.png)no-repeat center/cover;
    top: 50%; right: 50%;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}
.life .life_cont .imgWrap:hover::before, .life .life_cont .imgWrap:hover::after{
    opacity: 1;
}
.life .life_cont .imgWrap > img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;
}
.life .life_cont .imgWrap:first-child{
    grid-row: span 14;
}
.life .life_cont .imgWrap:nth-child(2){
    grid-row: span 9;
}
.life .life_cont .imgWrap:nth-child(3){
    grid-row: span 9;
}
.life .life_cont .imgWrap:nth-child(4){
    grid-row: span 14;
}
.life .life_cont .imgWrap:nth-child(5){
    grid-row: span 7;
    grid-column: 1;
}
.life .life_cont .life_midArea{
    grid-column: span 2;
    grid-row: span 12;
    background: #EBE2DB;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.life .life_cont .imgWrap:nth-child(7){
    grid-row: span 16;
}
.life .life_cont .imgWrap:nth-child(8){
    grid-row: span 9;
    grid-column: span 2;
}
.life .life_cont .imgWrap:nth-child(9){
    grid-row: span 9;
}

/* product area */
.product {
    text-align: center;
    height: auto;
    margin-bottom: 240px;
}
.product h3 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 50px;
}
.product p {
    font-size: 20px;
    color: rgb(187, 186, 186);
    margin-bottom: 40px;
}
.product .product_image{
    width: 100%;
    height: 65vh;
    background: url(../img/img_sub_product.jpg) no-repeat center/cover;
    margin-bottom: 50px;
}
.product .more{
    border: none;
    background: none;
    position: relative;
    cursor: pointer;
}
.product .more::before{
    content: '';
    width: 63px;
    height: 1px;
    display: block;
    background: #000;
    position: absolute;
    bottom: -3px;
    left: -100%;
    opacity: 0;
    transition: opacity 0.5s ease, left 0.5s ease;
}
.product .more:hover::before{
    left: 5px;
    opacity: 1;
}

/* footer */
footer {
    height: 75vh;
    background: #f5f5f5;
}

footer .f_icon {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

footer .logo>a {
    display: block;
    width: 160px;
    height: 80px;
    background: url(../img/logo_black.png) no-repeat center/auto 60px;
}

footer .f_sns {
    display: flex;
    align-items: center;
    gap: 15px;
}

footer .f_sns li a {
    display: block;
    width: 50px;
    height: 50px;
    background: no-repeat center/cover;
    opacity: 0.5;
    transition: 0.3s ease;
}

footer .f_sns li:first-child a {
    background-image: url(../img/ico/ico_kakao_black.png);
}

footer .f_sns li:nth-child(2) a {
    background-image: url(../img/ico/ico_ytb_black.png);
}

footer .f_sns li:last-child a {
    background-image: url(../img/ico/ico_insta_black.png);
}

footer .f_sns li a:hover {
    opacity: 1;
}

footer .f_menu {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
    line-height: 1.5;
}

footer .f_menu li {
    flex: 1;
}

footer .f_menu li .f_title {
    display: block;
    color: #474747;
    border-bottom: 1px solid #474747;
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

footer .f_menu li strong {
    font-size: 30px;
    color: #000;
}

footer .f_menu li dl {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
}

footer .f_menu li dl dt {
    color: #000;
    font-weight: 600;
}

footer .f_menu li:last-child .f_nav li {
    margin-bottom: 5px;
}

footer button {
    border: none;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    color: #474747;
}

footer button::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: url(../img/ico/ico_down.png) no-repeat center/contain;
    position: absolute;
    top: 5px;
    right: -20px;
    cursor: pointer;
    transform: rotate(0);
}

footer button.on::after {
    transform: rotate(180deg);
}

footer .f_info {
    margin-bottom: 20px;
    width: 55%;
    display: none;
    flex-wrap: wrap;
    gap: 0 20px;
}

footer .f_info li {
    line-height: 1.5;
    color: #000;
    font-weight: 300;
    position: relative;
}

footer .f_info li:nth-child(5) {
    width: 100%;
}

footer .f_info li::after {
    content: '';
    display: block;
    width: 1px;
    height: 50%;
    background: #474747;
    position: absolute;
    top: 25%;
    right: -8px;
}

footer .f_info li:nth-child(4)::after,
footer .f_info li:nth-child(5)::after,
footer .f_info li:last-child::after {
    display: none;
}